<div class="main__container">
  <div class="header__container">

    <h1 class="title">
      <img class="logo_title" width="30px" height="30px" src="../assets/img/uis-logo.svg" />
      MAPA SONORO UIS
    </h1>
  </div>

  <div class="map_container">
    <!--The div element for the map -->
    <div id="map" #map></div>

    <div class="contenido">

      <mat-card class="section">
        <h1 class="title">EL RUIDO</h1>
        <mat-card-content>
          <p>El aumento del ruido en las sociedades modernas se ha convertido en un tema de preocupación,
            Según la Organización Mundial de la Salud (OMS), uno de los factores ambientales que crean
            mayores afecciones de salud es la contaminación acústica.
            Entre los efectos que causa la contaminación auditiva en la salud tenemos:</p>
          <h1 class="title">
            Perdida auditiva
          </h1>
          <h1 class="title">
            Problemas de sueño
          </h1>
          <h1 class="title">
            Estrés y molestia
          </h1>
          <h1 class="title">
            Problemas cognitivos irreversibles en niños pequeños
          </h1>
        </mat-card-content>
      </mat-card>

      <mat-card class="section">
        <h1 class="title">NUESTRO PROYECTO:</h1>
        <p>En las ciudades de hoy en día, las personas se enfrentan a diferentes intensiadades de ruido que pueden
          afectar su bienestar general y desempeño en actividades cotidianas.
          Debido a esto se hace relevante estudiar a que niveles de ruido nos vemos expuestos en el día a día.
          En el proyecto se realizó un muestreo de datos en la Universidad Industrial de Santander (UIS), donde se ha
          identificado la posibilidad de existencia de esta
          problemática, en distintos espacios de la universidad. En el proyecto se midieron los niveles de ruido en
          decibeles en cuatro locaciones diferentes de la universidad
          a diferentes horas de día, por una semana. Con los datos obtenidos se busca una mayor comprensión de los
          niveles de ruido que se manejan en el entorno, y posiblemente encontrar una metodología aplicable a otras
          locaciones.</p>

      </mat-card>

      <h1 class="title">RESULTADOS:</h1>
      <mat-card class="section">
        <h1 class="title">BIBLIOTECA:</h1>
        <img class="grafico" mat-card-image src="https://i.imgur.com/s1dwQiy.png">
      </mat-card>

      <mat-card class="section">
        <h1 class="title">CAMILO TORRES:</h1>
        <img class="grafico" mat-card-image src="https://i.imgur.com/lVUL8Am.png">
      </mat-card>

      <mat-card class="section">
        <h1 class="title">BIENESTAR:</h1>
        <img class="grafico" mat-card-image src="https://i.imgur.com/beglePD.png">
      </mat-card>

      <mat-card class="section">
        <h1 class="title">LIVIANOS:</h1>
        <img class="grafico" mat-card-image src="https://i.imgur.com/8rtcHE9.png">
      </mat-card>
    </div>
  </div>


</div>